.form-control {
  width: 30%;
  margin: 100px 0 0 35%;
}
.wrapper {
  width: 30%;
  margin: 10px 0 0 35%;
}
.img-size {
  height: 70px;
  width: 70px;
  padding: 10px 0 10px 0;
}
.card {
  border: 0;
  border-bottom: 1px;
}
